<launch>
	<node name="find_object_2d" pkg="geodetic_utils" type="set_gps_reference_node" output="screen">
	</node>
	<node name="gps_to_pose_conversion_node" pkg="geodetic_utils" type="gps_to_pose_conversion_node" output="screen">
	</node>
	<node name="gps_to_pose_conversion_node2" pkg="geodetic_utils" type="gps_to_pose_conversion_node2" output="screen">
	</node>
</launch>
